apiVersion: v1
kind: Service
metadata:
  name: spring-hello-service
spec:
  selector:
    app: spring-hello  
  ports:
    - protocol: TCP
      port: 80 
      targetPort: 8080  
  type: LoadBalancer  